:root {
  --ifm-color-primary: #ff9595;
  --ifm-color-primary-dark: #ff7a7a;
  --ifm-color-primary-darker: #ff6060;
  --ifm-color-primary-darkest: #e64545;
  --ifm-color-primary-light: #ffb0b0;
  --ifm-color-primary-lighter: #ffc5c5;
  --ifm-color-primary-lightest: #ffdada;
}

[data-theme="dark"] {
  --ifm-color-primary: #ff9595;
  --ifm-color-primary-dark: #ff7a7a;
  --ifm-color-primary-darker: #ff6060;
  --ifm-color-primary-darkest: #e64545;
  --ifm-color-primary-light: #ffb0b0;
  --ifm-color-primary-lighter: #ffc5c5;
  --ifm-color-primary-lightest: #ffdada;
}

.footer {
  background: transparent;
  border-top: 1px solid var(--ifm-toc-border-color);
}

.footer__copyright {
  color: var(--ifm-color-emphasis-600);
  font-size: 0.8rem;
}

/* code inline */
p code {
  padding: 3px 6px;
  margin: 0 2px;
  border: none;
}

/* code block */
.markdown .codeBlockContainer_DrIa {
  box-shadow: none;
}

/* styles */
.breadcrumbs__item--active .breadcrumbs__link {
  background: none;
}

.markdown h1:first-child {
  font-size: 2.5rem;
}

.table-of-contents {
  font-size: 0.9rem;
  font-weight: 600;
}

.markdown > h2 {
  font-size: 1.65rem;
  opacity: 0.7;
}

.markdown > h2:before,
.table-of-contents__link:before {
  content: "⭐️ ";
}

.markdown {
  font-size: 0.98rem;
}

.docusaurus-mt-lg {
  margin-top: 10rem !important;
}

.navbar__link,
.navbar-sidebar__back {
  display: none !important;
}

@media (max-width: 576px) {
  .markdown h1:first-child {
    font-size: 1.6rem;
  }

  .markdown {
    font-size: 0.88rem;
  }

  .markdown > h2 {
    font-size: 1.4rem;
  }

  .docusaurus-mt-lg {
    margin-top: 3rem !important;
  }
}
